[Desktop Entry]
Name=Arfedora Welcome
Exec=software-center
Icon=com.github.softwarecenter.json
Terminal=false
Type=Application
Categories=GTK;
StartupNotify=true
