[Desktop Entry]
Name=Software Center
Exec=software-center
Icon=com.github.softwarecenter
Terminal=false
Type=Application
Categories=GTK;
StartupNotify=true
